.tx_evoweb_sfregister {
    iframe#bargraph {
        display: none;
        height: 14px;
        width: 372px;
        border: none;

        &.show {
            display: block;
        }
    }

    meter#bargraph {
        display: none;
        background: #efefef;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-top: none;
        border-radius: 0 0 10px 10px;
        height: 11px;
        width: 372px;
        max-width: 98%;

        &.show {
            display: block;
        }

        /* Polyfill */
        .meter-inner-element {
            appearance: inherit;
            box-sizing: inherit;
            height: 100%;
            width: 100%;
            background: #efefef;
            border: none;
            border-radius: 0 0 10px 10px;
        }

        .meter-bar {
            height: 100%;
            width: 100%;
            box-sizing: border-box;
            background: none;
            background-color: #efefef;
            border: none;
            border-radius: 0 0 10px 10px;
        }

        .meter-even-less-good-value,
        .meter-suboptimum-value,
        .meter-optimum-value {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            user-modify: read-only;
            border-radius: 0 0 10px 10px;
        }

        .meter-even-less-good-value {
            background: #D14900;
        }

        .meter-suboptimum-value {
            background: #F5D000;
        }

        .meter-optimum-value {
            background: #3C5C00;
        }

        /* WebKit */
        &::-webkit-meter-inner-element {
            background: #efefef;
            border: none;
            border-radius: 0 0 10px 10px;
        }

        &::-webkit-meter-bar {
            background: none;
            background-color: #efefef;
            border: 1px solid #ccc;
            border-top: none;
            border-radius: 0 0 10px 10px;
        }

        &::-webkit-meter-even-less-good-value,
        &::-webkit-meter-suboptimum-value,
        &::-webkit-meter-optimum-value {
            border-radius: 0 0 10px 10px;
        }

        &::-webkit-meter-even-less-good-value {
            background: #D14900;
        }

        &::-webkit-meter-suboptimum-value {
            background: #F5D000;
        }

        &::-webkit-meter-optimum-value {
            background: #3C5C00;
        }

        /* Firefox */
        &::-moz-meter-inner-element {
            background: #efefef;
        }

        &::-moz-meter-bar {
            background: none;
            background-color: #fff;
            border: none;
            border-radius: 0 0 10px 10px;
        }

        &:-moz-meter-sub-sub-optimum::-moz-meter-bar,
        &:-moz-meter-sub-optimum::-moz-meter-bar,
        &:-moz-meter-optimum::-moz-meter-bar {
            border-radius: 0 0 10px 10px;
        }

        &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
            background-color: #D14900;
        }

        &:-moz-meter-sub-optimum::-moz-meter-bar {
            background-color: #F5D000;
        }

        &:-moz-meter-optimum::-moz-meter-bar {
            background-color: #3C5C00;
        }
        /*div
        {
            display: block;
            border: none;
            border-radius: 0 0 10px 10px;
            height: 11px;
            background: linear-gradient(to right, #d14900 0%, #d14900 30%, #f5d000 30%, #f5d000 70%, #3c5c00 70%, #3c5c00 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d14900', endColorstr='#3c5c00', GradientType=1 );
        }*/
    }

    #sfrZone_loading {
        background: transparent url(/typo3/sysext/core/Resources/Public/Icons/T3Icons/spinner/spinner-circle-dark.svg) no-repeat 4px 1px;
        padding-left: 24px;
    }

    form {
        overflow: hidden;
        width: 100%;
        max-width: 800px;
    }

    .clear {
        clear: left;
        width: 100%;
        height: 1px;
    }

    .form-group {
        float: left;
        width: 48%;
        margin: 0;
        min-height: 70px;

        label {
            float: left;
        }

        &.checkbox {
            padding-top: 20px;
            min-height: 50px;

            label {
                float: none;
                display: inline-block;
                vertical-align: middle;
                position: relative;
                padding-left: 5px;
            }
        }
    }

    .form-control {
        display: block;
        width: 90%;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background: #fff none;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    select.form-control {
        width: 97%;
    }

    .checkbox {
        label::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            margin-left: -20px;
            border: 1px solid #ccc;
            border-radius: 3px;
            background-color: #fff;
            -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        }

        label::after {
            display: inline-block;
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            top: 0;
            margin-left: -20px;
            padding-left: 1px;
            padding-top: 1px;
            font-size: 11px;
            color: #555;
        }

        input[type="checkbox"],
        input[type="radio"] {
            opacity: 0;
            z-index: 1;

            &:focus + label::before {
                outline: thin dotted;
                outline: 5px auto -webkit-focus-ring-color;
                outline-offset: -2px;
            }

            &:checked + label::after {
                font-size: 1.3em;
                line-height: 0.9em;
                content: "\2713";
            }

            &:disabled + label {
                opacity: 0.65;
            }

            &:disabled + label::before {
                background-color: #eee;
                cursor: not-allowed;
            }
        }
    }

    .form-group {
        &.city {
            width: 29%;
            margin-left: 10px;
        }

        &.housenumber {
            width: 12%;
            margin-left: 10px;
        }

        &.zip {
            width: 16%;
        }

        &.housenumber input,
        &.zip input {
            width: 80%;
        }

        &.dateOfBirth select {
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background: #fff none;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        &.captcha {
            min-height: inherit;
        }
    }

    .grecaptcha-badge {
        margin-right: -10000px;
    }

    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;

        &:focus,
        &.focus,
        &:active:focus,
        &.active:focus,
        &:active.focus,
        &.active.focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

        &:hover,
        &:focus,
        &.focus {
            color: #333;
            text-decoration: none;
        }

        &:active,
        &.active {
            background-image: none;
            outline: 0;
            -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
        }
    }

    .btn.disabled,
    .btn[disabled],
    fieldset[disabled] .btn {
        cursor: not-allowed;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
        opacity: .65;
    }

    a.btn.disabled,
    fieldset[disabled] a.btn {
        pointer-events: none;
    }

    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;

        &:focus,
        &.focus {
            color: #fff;
            background-color: #286090;
            border-color: #122b40;
        }

        &:hover {
            color: #fff;
            background-color: #286090;
            border-color: #204d74;
        }
    }

    .btn-primary:active,
    .btn-primary.active,
    .open > .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #286090;
        border-color: #204d74;

        &:hover,
        &:focus,
        &.focus {
            color: #fff;
            background-color: #204d74;
            border-color: #122b40;
        }

        & {
            background-image: none;
        }
    }

    .btn-primary.disabled,
    .btn-primary[disabled],
    fieldset[disabled] .btn-primary {
        &:hover,
        &:focus,
        &.focus {
            background-color: #337ab7;
            border-color: #2e6da4;
        }
    }

    .btn-primary .badge {
        color: #337ab7;
        background-color: #fff;
    }

    .file-upload {
        position: relative;
        overflow: hidden;
        margin: 0 10px;
        width: 20%;

        input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }

    .upload .form-control {
        float: left;
        width: 61%;
    }

    .form-control-static {
        min-height: 34px;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-bottom: 0;
    }

    .pull-right {
        float: right !important;
    }

    .pull-left {
        float: left !important;
    }
}
