<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
	<f:if condition="{userNotFound}">
		<f:translate id="account_not_found"/>
	</f:if><f:if condition="{userAlreadyConfirmed}">
		<f:translate id="email_already_activated"/>
	</f:if><f:if condition="{userNotConfirmed}">
		<f:format.raw><f:translate id="account_not_activated" arguments="{0: user.username}"/></f:format.raw>
	</f:if><f:if condition="{userConfirmed}">
		<f:format.raw><f:translate id="email_successful_activated" arguments="{0: user.email}"/></f:format.raw>
	</f:if>
</f:section>

</html>
