<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
		xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<head>
	<title>Create form template of registration</title>
</head>
<body>

<f:layout name="Default" />

<f:section name="Main">
<f:form action="preview" name="user" object="{user}" enctype="multipart/form-data">
	<f:render partial="FormErrors" section="Main" arguments="{for: 'user'}" />
	<f:render partial="FieldError" section="Main" arguments="{field: 'uid'}" />

	<f:render partial="Form/Select" arguments="{user: user, fieldName: 'title', options: {
			none: '{f:translate(key: \'title_none\')}',
			dr: '{f:translate(key: \'title_dr\')}',
			prof: '{f:translate(key: \'title_prof\')}',
			profdr: '{f:translate(key: \'title_profdr\')}'
		}}"/>

	<f:render partial="Form/Clear"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'firstName'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'lastName'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'company'}"/>

	<f:render partial="Form/Clear"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'email'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'telephone'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'mobilephone'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'fax'}"/>

	<f:render partial="Form/Clear"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'address'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'zip'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'city'}"/>

	<f:render partial="Form/CountrySelect" arguments="{user: user, fieldName: 'country', options: {
			defaultValue: 'DE',
			allowedCountries: {0: 'DE', 1: 'AT'}
		}}"/>

	<f:render partial="Form/CountryZoneSelect" arguments="{user: user, fieldName: 'zone', options: {
			defaultValue: 'DE'
		}}"/>

	<f:render partial="Form/Upload" arguments="{user: user, fieldName: 'image'}"/>

	<f:render partial="Form/Clear"/>

	<f:render partial="Form/Submit"/>

</f:form>

<div class="mandatory">
	<f:format.raw><f:translate key="info_mandatory_fields" htmlEscape="true"/></f:format.raw>
</div>
</f:section>

</body>
</html>
