{namespace register=Evoweb\SfRegister\ViewHelpers}
<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:register="http://www.evoweb.de/ns/SfRegister/ViewHelpers"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Edit form template of registration</title>
</head>
<body>
<f:layout name="Default" />
<f:section name="Main">
<f:form action="preview" name="user" object="{user}" enctype="multipart/form-data">
	<f:render partial="FormErrors" section="Main" arguments="{for: 'user'}" />
	<f:render partial="FieldError" section="Main" arguments="{field: 'uid'}" />

	<dl>
		<dt>
			<f:translate key="title" />
			<f:render partial="Required" section="Main" arguments="{field: 'title'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'title'}" />
			<f:form.textfield property="title" />
		</dd>

		<dt>
			<f:translate key="company" />
			<f:render partial="Required" section="Main" arguments="{field: 'company'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'company'}" />
			<f:form.textfield property="company" />
		</dd>

		<dt>
			<f:translate key="lastName" />
			<f:render partial="Required" section="Main" arguments="{field: 'lastName'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'lastName'}" />
			<f:form.textfield property="lastName" />
		</dd>

		<dt>
			<f:translate key="firstName" />
			<f:render partial="Required" section="Main" arguments="{field: 'firstName'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'firstName'}" />
			<f:form.textfield property="firstName" />
		</dd>

		<dt>
			<f:translate key="email" />
			<f:render partial="Required" section="Main" arguments="{field: 'email'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'email'}" />
			<f:form.textfield property="email" />
		</dd>

		<dt>
			<f:translate key="telephone" />
			<f:render partial="Required" section="Main" arguments="{field: 'telephone'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'telephone'}" />
			<f:form.textfield property="telephone" />
		</dd>

		<dt>
			<f:translate key="mobilephone" />
			<f:render partial="Required" section="Main" arguments="{field: 'mobilephone'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'mobilephone'}" />
			<f:form.textfield property="mobilephone" />
		</dd>

		<dt>
			<f:translate key="fax" />
			<f:render partial="Required" section="Main" arguments="{field: 'fax'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'fax'}" />
			<f:form.textfield property="fax" />
		</dd>

		<dt>
			<f:translate key="address" />
			<f:render partial="Required" section="Main" arguments="{field: 'address'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'address'}" />
			<f:form.textfield property="address" />
		</dd>

		<dt>
			<f:translate key="zip" />
			<f:render partial="Required" section="Main" arguments="{field: 'zip'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'zip'}" />
			<f:form.textfield property="zip" />
		</dd>

		<dt>
			<f:translate key="city" />
			<f:render partial="Required" section="Main" arguments="{field: 'city'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'city'}" />
			<f:form.textfield property="city" />
		</dd>

		<dt>
			<f:translate key="country" />
			<f:render partial="Required" section="Main" arguments="{field: 'country'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'country'}" />
			<register:form.SelectStaticCountries property="staticInfoCountry" id="sfrCountry"
				allowedCountries="{0: 'DE', 1: 'AT'}" />
		</dd>

		<dt>
			<f:translate key="zone" />
			<f:render partial="Required" section="Main" arguments="{field: 'zone'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{for: 'user', field: 'zone'}" />
			<register:form.SelectStaticCountryZones property="zone" id="sfrZone" parent="{staticInfoCountry}" />
			<div id="sfrZone_empty" style="display: none;">
				<f:translate key="no_zone_available" />
			</div>
			<div id="sfrZone_loading" style="display: none;">
				<f:translate key="zone_loading" />
			</div>
		</dd>

		<dt>
			<f:translate key="image" />
			<f:render partial="Required" section="Main" arguments="{field: 'image'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'image'}" />
			<f:if condition="{user.image}">
				<f:then>
					<f:form.hidden name="tx_sfregister_form[user][lastName]" value="{user.image.0.uidLocal}" />
					<f:form.hidden name="temporaryImage" value="{temporaryImage}" />
					<f:form.hidden name="imagefile" value="{user.image.0}" />
					<f:image height="100" width="100c" treatIdAsReference="1"
						image="{f:if(condition: temporaryImage, then: temporaryImage, else: user.image.0)}"
						alt="{user.firstName} {user.lastName}" title="{user.firstName} {user.lastName}" />
					<f:form.submit name="removeImage" value="{f:translate(key:'submit_removeImage')}" />
				</f:then>
				<f:else>
					<f:form.hidden property="image" value="" />
					<f:form.hidden name="temporaryImage" value="1" />
					<f:form.upload name="image" />
				</f:else>
			</f:if>
		</dd>

		<dt>&nbsp;</dt>
		<dd>
			<f:form.submit class="submit" value="{f:translate(key:'submit_update')}" />
		</dd>
	</dl>
</f:form>
<div class="mandatory">
	<f:translate key="info_mandatory_fields" htmlEscape="false" />
</div>
</f:section>
</body>
</html>


<!--
					<f:if condition="{temporaryImage}">
						<f:then>
							<f:image height="100" width="100c" src="typo3temp/sf_register/{user.image}" alt="{user.firstName} {user.lastName}"
									 title="{user.firstName} {user.lastName}" />
						</f:then>
						<f:else>
							<f:image height="100" width="100c" src="uploads/pics/{user.image}" alt="{user.firstName} {user.lastName}"
									 title="{user.firstName} {user.lastName}" />
						</f:else>
					</f:if>
-->