<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Admin notification mail post create confirmation template of registration</title>
</head>
<body>
<f:layout name="Email" />
<f:section name="Main">
<f:translate key="email_admin_salutation" htmlEscape="false"/>,

<f:translate key="email_admin_account_activated" arguments="{0: user.username}" htmlEscape="false"/>

<f:link.action arguments="{user: user.uid, authCode: user.mailhash}" action="accept" absolute="true" noCacheHash="true"><f:translate key="email_admin_activate_link" htmlEscape="false"/></f:link.action>
</f:section>
</body>
</html>