<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:register="http://typo3.org/ns/Evoweb/SfRegister/ViewHelpers"
	data-namespace-typo3-fluid="true">

<f:layout name="Email" />

<f:section name="Main">
	<f:format.raw><f:translate id="email_user_salutation"/></f:format.raw>,

	<f:format.raw><f:translate id="email_invitee_invitation_message" arguments="{0: user.invitationEmail, 1: settings.sitename}"/></f:format.raw>

	<register:link.action pageUid="{settings.createPid}" arguments="{user: {email: user.invitationEmail}}" action="form" controller="FeuserCreate" absolute="true">
		<f:translate id="email_invitee_register_link"/>
	</register:link.action>
</f:section>

</html>
