<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:register="http://typo3.org/ns/Evoweb/SfRegister/ViewHelpers"
	data-namespace-typo3-fluid="true">

<f:layout name="Email" />

<f:section name="Main">
	<f:format.raw><f:translate id="email_admin_salutation"/></f:format.raw>,

	<f:format.raw><f:translate id="email_admin_account_saved" arguments="{0: user.username}"/></f:format.raw>

	<f:if condition="{settings.acceptEmailPostCreate}">
		<register:link.action arguments="{user: user.uid}" action="accept" controller="FeuserCreate" absolute="true">
			<f:translate id="email_user_accept_link"/>
		</register:link.action>
		<register:link.action arguments="{user: user.uid}" action="decline" controller="FeuserCreate" absolute="true">
			<f:translate id="email_user_decline_link"/>
		</register:link.action>
	</f:if>
</f:section>

</html>
