<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>User activation mail after edit template of registration</title>
</head>
<body>
<f:translate key="email_user_salutation" htmlEscape="false"/>,

<f:translate key="email_user_activate_message" arguments="{0: user.username}" htmlEscape="false"/>

<f:link.action arguments="{authCode: user.mailhash}" action="confirm" absolute="true" noCacheHash="true"><f:translate key="email_user_activate_link" htmlEscape="false"/></f:link.action>
</body>
</html>