<div>
	<f:link.action action="single">single</f:link.action>
	<f:link.action action="createPreview">createPreview</f:link.action>
	<f:link.action action="create">create</f:link.action>
	<f:link.action action="confirm">confirm</f:link.action>

	<f:link.action action="edit">edit</f:link.action>
	<f:link.action action="updatePreview">updatePreview</f:link.action>
	<f:link.action action="update">update</f:link.action>

	<f:link.action action="password">password</f:link.action>
	<f:link.action action="store">store</f:link.action>
</div>
