<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:freeCap="http://typo3.org/ns/SJBR/SrFreecap/ViewHelpers">

<div>
    <label for="sjbr-freecap-captcha-response">
        {freeCap:translate(key: 'notice')}
        {freeCap:translate(key: 'explain')}
    </label>
    <f:form.textfield id="sjbr-freecap-captcha-response" property="captchaResponse" size="15"
                      title="{freeCap:translate(key: 'notice')}{freeCap:translate(key: 'explain')}" />
    <freeCap:image />
    <freeCap:audio />
</div>

</html>
