<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:register="http://typo3.org/ns/Evoweb/SfRegister/ViewHelpers">

<f:variable name="captcha"><register:form.captcha type="srfreecap"/></f:variable>
<div>
    <f:if condition="{captcha.image}">
        <f:then>
            <f:render arguments="{user:user, fieldName: 'captcha', options: options}" partial="Form/TextField"/>
            <f:format.raw>{captcha.image}</f:format.raw>
            <f:format.raw>{captcha.notice}</f:format.raw>
            <f:format.raw>{captcha.cantRead}</f:format.raw>
            <f:format.raw>{captcha.accessible}</f:format.raw>
        </f:then>
        <f:else>
            {captcha}
        </f:else>
    </f:if>
</div>

</html>
