<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="col-md-6 mb-3 form-check {fieldName}">
	<div class="custom-control custom-checkbox mr-sm-2">
		<f:form.checkbox property="{fieldName}" id="{fieldName}" value="1" class="custom-control-input" checked="{options.checked}"/>

		<label for="{fieldName}" class="custom-control-label">
			<f:translate id="{fieldName}" />
			<f:render partial="Required" arguments="{field: fieldName}" />
		</label>
	</div>
	<f:render partial="FieldError" arguments="{for: 'user', field: fieldName}" />
</div>

</html>
