<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:register="http://typo3.org/ns/Evoweb/SfRegister/ViewHelpers"
	data-namespace-typo3-fluid="true">

<div class="form-group {fieldName}">
	<label for="sfrZone"><f:translate id="{fieldName}" /></label>
	<f:render partial="Required" arguments="{field: fieldName}" />
	<f:render partial="FieldError" arguments="{for: 'user', field: fieldName}" /><br/>
	<register:form.selectStaticCountryZones
		property="zone"
		id="sfrZone"
		parent="{f:if(condition: user.staticInfoCountry, then: user.staticInfoCountry, else: options.defaultValue)}"
		class="form-control" />

	<div id="sfrZone_empty" class="form-control-static" style="display: none;">
		<f:translate id="no_zone_available" />
	</div>
	<div id="sfrZone_loading" class="form-control-static" style="display: none;">
		<f:translate id="zone_loading" />
	</div>
</div>

</html>
