<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:register="http://typo3.org/ns/Evoweb/SfRegister/ViewHelpers"
	data-namespace-typo3-fluid="true">

<div class="col-md-6 mb-3 {fieldName}">
	<label for="sfrZone">
		<f:translate id="{fieldName}" />
		<f:render partial="Required" arguments="{field: fieldName}" />
	</label>
	<f:render partial="FieldError" arguments="{for: 'user', field: fieldName}" />

	<register:form.selectStaticCountryZones
		property="{fieldName}"
		id="sfrZone"
		parent="{f:if(condition: user.staticInfoCountry, then: user.staticInfoCountry, else: options.defaultValue)}"
		class="form-control" />

	<div id="sfrZone_empty" class="d-none form-control-plaintext"><f:translate id="no_zone_available" /></div>
	<div id="sfrZone_loading" class="d-none spinner-border text-primary" role="status">
		<span class="sr-only"><f:translate id="zone_loading" /></span>
	</div>
</div>
