<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:register="http://typo3.org/ns/Evoweb/SfRegister/ViewHelpers"
	data-namespace-typo3-fluid="true">

<div class="col-md-6 mb-3 {fieldName}">
	<label for="{fieldName}">
		<f:translate id="{fieldName}" />
		<f:render partial="Required" arguments="{field: fieldName}" />
	</label>
	<f:render partial="FieldError" arguments="{for: 'user', field: fieldName}" />

	<register:form.rangeSelect
		property="dateOfBirthDay"
		id="{fieldName}"
		start="1"
		end="31" />
	-
	<register:form.rangeSelect
		property="dateOfBirthMonth"
		start="1"
		end="12" />
	-
	<register:form.rangeSelect
		property="dateOfBirthYear"
		start="1960"
		end="2031" />
</div>

</html>
