<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:register="http://typo3.org/ns/Evoweb/SfRegister/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:variable name="minified" value="{register:applicationContext(environment: 'Development', then: '.min')}"/>
<f:asset.css identifier="sfregister_css" href="EXT:sf_register/Resources/Public/Stylesheets/sf_register{minified}.css"/>
<f:asset.script identifier="sfregister_js" src="EXT:sf_register/Resources/Public/JavaScript/sf_register{minified}.js"/>

<div class="col-md-6 mb-3 {fieldName}">
	<label for="sfr{fieldName}">
		<f:translate id="{fieldName}" />
		<f:render partial="Required" arguments="{field: fieldName}" />
	</label>
	<f:variable name="for">{f:if(condition: property, then: property, else: 'user')}</f:variable>
	<f:render partial="FieldError" arguments="{for: for, field: fieldName}" />

	<f:form.password property="{fieldName}" id="sfr{fieldName}" class="form-control {options.cssClass}" data="{lpignore: 'true'}"/>
	<f:if condition="{options.progress} == 'show'">
		<meter min="0" max="44" low="14" high="31" optimum="39" id="bargraph"></meter>
	</f:if>
</div>

</html>
