<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="form-group">
	<label for="timezone"><f:translate key="timezone" /></label>
	<f:render partial="Required" section="Main" arguments="{field: 'timezone'}" />
	<f:render partial="FieldError" section="Main" arguments="{for: 'user', field: 'timezone'}" /><br/>
	<f:form.select property="timezone" id="timezone" class="form-control" options="{
		-12: '{f:translate(key: \'timezone_I_-12\')}',
		-11: '{f:translate(key: \'timezone_I_-11\')}',
		-10: '{f:translate(key: \'timezone_I_-10\')}',
		-95: '{f:translate(key: \'timezone_I_-9_5\')}',
		-9: '{f:translate(key: \'timezone_I_-9\')}',
		-8: '{f:translate(key: \'timezone_I_-8\')}',
		-7: '{f:translate(key: \'timezone_I_-7\')}',
		-6: '{f:translate(key: \'timezone_I_-6\')}',
		-5: '{f:translate(key: \'timezone_I_-5\')}',
		-45: '{f:translate(key: \'timezone_I_-4_5\')}',
		-4: '{f:translate(key: \'timezone_I_-4\')}',
		-35: '{f:translate(key: \'timezone_I_-3_5\')}',
		-3: '{f:translate(key: \'timezone_I_-3\')}',
		-2: '{f:translate(key: \'timezone_I_-2\')}',
		-1: '{f:translate(key: \'timezone_I_-1\')}',
		0: '{f:translate(key: \'timezone_I_0\')}',
		1: '{f:translate(key: \'timezone_I_1\')}',
		2: '{f:translate(key: \'timezone_I_2\')}',
		3: '{f:translate(key: \'timezone_I_3\')}',
		35: '{f:translate(key: \'timezone_I_3_5\')}',
		4: '{f:translate(key: \'timezone_I_4\')}',
		45: '{f:translate(key: \'timezone_I_4_5\')}',
		5: '{f:translate(key: \'timezone_I_5\')}',
		55: '{f:translate(key: \'timezone_I_5_5\')}',
		575: '{f:translate(key: \'timezone_I_5_75\')}',
		6: '{f:translate(key: \'timezone_I_6\')}',
		65: '{f:translate(key: \'timezone_I_6_5\')}',
		7: '{f:translate(key: \'timezone_I_7\')}',
		8: '{f:translate(key: \'timezone_I_8\')}',
		9: '{f:translate(key: \'timezone_I_9\')}',
		95: '{f:translate(key: \'timezone_I_9_5\')}',
		10: '{f:translate(key: \'timezone_I_10\')}',
		11: '{f:translate(key: \'timezone_I_11\')}',
		115: '{f:translate(key: \'timezone_I_11_5\')}',
		12: '{f:translate(key: \'timezone_I_12\')}',
		1275: '{f:translate(key: \'timezone_I_12_75\')}',
		13: '{f:translate(key: \'timezone_I_13\')}',
		14: '{f:translate(key: \'timezone_I_14\')}'
		}" value="{user.timezone}" />
</div>

</html>