<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
		xmlns:register="http://typo3.org/ns/Evoweb/SfRegister/ViewHelpers"
		data-namespace-typo3-fluid="true">

<div class="form-group upload">
	<label for="{fieldName}"><f:translate key="{fieldName}" /></label>
	<f:render partial="Required" section="Main" arguments="{field: '{fieldName}'}" />
	<f:render partial="FieldError" section="Main" arguments="{for: 'user', field: '{fieldName}'}" /><br/>

	<register:form.upload property="{fieldName}">
		<f:if condition="{resource}">
			<f:image image="{resource}" alt="" width="50"/>
		</f:if>
	</register:form.upload>
</div>

</html>