<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:register="http://typo3.org/ns/Evoweb/SfRegister/ViewHelpers"
	data-namespace-typo3-fluid="true">

<div class="form-group upload {fieldName}">
	<label for="{fieldName}"><f:translate id="{fieldName}" /></label>
	<f:render partial="Required" arguments="{field: '{fieldName}'}" />
	<f:render partial="FieldError" arguments="{for: 'user', field: '{fieldName}'}" /><br/>

	<register:form.upload property="{fieldName}.0">
		<f:if condition="{resource}">
			<f:image image="{resource}" alt="" width="50"/>
			<f:form.hidden name="removeImage" id="removeImage" value="0"/>
			<f:form.button type="button" onclick="document.getElementById('removeImage').value='1';this.form.submit();">{f:translate(key:'submit_removeImage')}</f:form.button>
		</f:if>
	</register:form.upload>
</div>

</html>
