<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
	<f:form action="invite" name="user" id="sfrForm" object="{user}" enctype="multipart/form-data">
		<f:render partial="FormErrors" arguments="{for: 'user'}" />
		<f:render partial="FieldError" arguments="{field: 'uid'}" />

		<f:for each="{settings.fields.selected}" as="selectedField" iteration="iteration">
			<f:alias map="{options: '{settings.fields.configuration.{selectedField}}'}">
				<f:render partial="Form/{options.partial}"
					arguments="{user: user, fieldName: selectedField, options: options, settings: settings, iteration: iteration}"/>
			</f:alias>
		</f:for>
	</f:form>

	<div class="mandatory">
		<f:format.raw><f:translate key="info_mandatory_fields"/></f:format.raw>
	</div>
</f:section>

</html>
