/* line 2, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister #bargraph {
  display: none;
  height: 14px;
  width: 372px;
}
/* line 7, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister #bargraph.show {
  display: block;
}
/* line 12, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister #sfrZone_loading {
  background: transparent url(/typo3/sysext/core/Resources/Public/Icons/T3Icons/spinner/spinner-circle-dark.svg) no-repeat 4px 1px;
  padding-left: 24px;
}
/* line 17, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister form {
  overflow: hidden;
  width: 100%;
  max-width: 800px;
}
/* line 23, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .clear {
  clear: left;
  width: 100%;
  height: 1px;
}
/* line 29, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .form-group {
  float: left;
  width: 48%;
  margin: 0;
  min-height: 70px;
}
/* line 35, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .form-group label {
  float: left;
}
/* line 39, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .form-group.checkbox {
  padding-top: 20px;
  min-height: 50px;
}
/* line 43, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .form-group.checkbox label {
  float: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
/* line 53, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .form-control {
  display: block;
  width: 90%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* line 65, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister select.form-control {
  width: 97%;
}
/* line 70, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
/* line 86, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 1px;
  padding-top: 1px;
  font-size: 11px;
  color: #555;
}
/* line 100, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .checkbox input[type="checkbox"],
.tx_evoweb_sfregister .checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
}
/* line 105, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .checkbox input[type="checkbox"]:focus + label::before,
.tx_evoweb_sfregister .checkbox input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 111, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .checkbox input[type="checkbox"]:checked + label::after,
.tx_evoweb_sfregister .checkbox input[type="radio"]:checked + label::after {
  font-size: 1.3em;
  line-height: 0.9em;
  content: "\2713";
}
/* line 117, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .checkbox input[type="checkbox"]:disabled + label,
.tx_evoweb_sfregister .checkbox input[type="radio"]:disabled + label {
  opacity: 0.65;
}
/* line 121, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .checkbox input[type="checkbox"]:disabled + label::before,
.tx_evoweb_sfregister .checkbox input[type="radio"]:disabled + label::before {
  background-color: #eee;
  cursor: not-allowed;
}
/* line 129, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .form-group.city {
  width: 29%;
  margin-left: 10px;
}
/* line 134, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .form-group.housenumber {
  width: 12%;
  margin-left: 10px;
}
/* line 139, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .form-group.zip {
  width: 16%;
}
/* line 143, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .form-group.housenumber input, .tx_evoweb_sfregister .form-group.zip input {
  width: 80%;
}
/* line 148, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .form-group.dateOfBirth select {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* line 158, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .form-group.captcha {
  min-height: inherit;
}
/* line 163, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
/* line 184, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .btn:focus, .tx_evoweb_sfregister .btn.focus, .tx_evoweb_sfregister .btn:active:focus, .tx_evoweb_sfregister .btn.active:focus, .tx_evoweb_sfregister .btn:active.focus, .tx_evoweb_sfregister .btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 195, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .btn:hover, .tx_evoweb_sfregister .btn:focus, .tx_evoweb_sfregister .btn.focus {
  color: #333;
  text-decoration: none;
}
/* line 202, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .btn:active, .tx_evoweb_sfregister .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 211, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .btn.disabled,
.tx_evoweb_sfregister .btn[disabled],
.tx_evoweb_sfregister fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
/* line 221, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister a.btn.disabled,
.tx_evoweb_sfregister fieldset[disabled] a.btn {
  pointer-events: none;
}
/* line 226, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
/* line 231, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .btn-primary:focus, .tx_evoweb_sfregister .btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
/* line 238, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
/* line 245, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .btn-primary:active,
.tx_evoweb_sfregister .btn-primary.active,
.tx_evoweb_sfregister .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
/* line 252, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .btn-primary:active:hover, .tx_evoweb_sfregister .btn-primary:active:focus, .tx_evoweb_sfregister .btn-primary:active.focus,
.tx_evoweb_sfregister .btn-primary.active:hover,
.tx_evoweb_sfregister .btn-primary.active:focus,
.tx_evoweb_sfregister .btn-primary.active.focus,
.tx_evoweb_sfregister .open > .dropdown-toggle.btn-primary:hover,
.tx_evoweb_sfregister .open > .dropdown-toggle.btn-primary:focus,
.tx_evoweb_sfregister .open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
/* line 260, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .btn-primary:active,
.tx_evoweb_sfregister .btn-primary.active,
.tx_evoweb_sfregister .open > .dropdown-toggle.btn-primary {
  background-image: none;
}
/* line 268, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .btn-primary.disabled:hover, .tx_evoweb_sfregister .btn-primary.disabled:focus, .tx_evoweb_sfregister .btn-primary.disabled.focus,
.tx_evoweb_sfregister .btn-primary[disabled]:hover,
.tx_evoweb_sfregister .btn-primary[disabled]:focus,
.tx_evoweb_sfregister .btn-primary[disabled].focus,
.tx_evoweb_sfregister fieldset[disabled] .btn-primary:hover,
.tx_evoweb_sfregister fieldset[disabled] .btn-primary:focus,
.tx_evoweb_sfregister fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
/* line 276, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .btn-primary .badge {
  color: #337ab7;
  background-color: #fff;
}
/* line 281, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .file-upload {
  position: relative;
  overflow: hidden;
  margin: 0 10px;
  width: 20%;
}
/* line 287, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .file-upload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 300, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .upload .form-control {
  float: left;
  width: 61%;
}
/* line 305, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .form-control-static {
  min-height: 34px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}
/* line 312, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .pull-right {
  float: right !important;
}
/* line 316, ../../Private/Sass/styles.scss */
.tx_evoweb_sfregister .pull-left {
  float: left !important;
}
