<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Create confirm template of registration</title>
</head>
<body>
<f:layout name="Default" />
<f:section name="Main">
<f:if condition="{userNotFound}">
	<f:translate key="account_not_found"/>
</f:if><f:if condition="{userAlreadyConfirmed}">
	<f:translate key="account_already_activated" arguments="{0: user.username}" htmlEscape="false"/>
</f:if><f:if condition="{userConfirmed}">
	<f:translate key="account_successful_activated" arguments="{0: user.username}" htmlEscape="false"/>
</f:if>
</f:section>
</body>
</html>