<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<head>
	<title>Create form template of registration</title>
</head>
<body>

<f:layout name="Default" />

<f:section name="Main">
<f:form action="preview" name="user" object="{user}" enctype="multipart/form-data">
	<f:render partial="FormErrors" section="Main" arguments="{for: 'user'}" />
	<f:render partial="FieldError" section="Main" arguments="{field: 'uid'}" />

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'username'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'pseudonym'}"/>

	<f:render partial="Form/Password" arguments="{user: user, fieldName: 'passwordRepeat', progress: 'show'}"/>

	<f:render partial="Form/Password" arguments="{user: user, fieldName: 'passwordRepeat'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'email'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'emailRepeat'}"/>

	<f:render partial="Form/Clear"/>

	<f:render partial="Form/Select" arguments="{user: user, fieldName: 'gender', options: {
			1: '{f:translate(key: \'gender_male\')}',
			2: '{f:translate(key: \'gender_female\')}'
		}}"/>

	<f:render partial="Form/Select" arguments="{user: user, fieldName: 'title', options: {
			none: '{f:translate(key: \'title_none\')}',
			dr: '{f:translate(key: \'title_dr\')}',
			prof: '{f:translate(key: \'title_prof\')}',
			profdr: '{f:translate(key: \'title_profdr\')}'
		}}"/>

	<f:render partial="Form/Clear"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'firstName'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'lastName'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'company'}"/>

	<f:render partial="Form/Clear"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'telephone'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'mobilephone'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'fax'}"/>

	<f:render partial="Form/Clear"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'address'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'zip', css: 'zip'}"/>

	<f:render partial="Form/Textfield" arguments="{user: user, fieldName: 'city'}"/>

	<f:render partial="Form/CountrySelect" arguments="{user: user, fieldName: 'country'}"/>

	<f:render partial="Form/CountryZoneSelect" arguments="{user: user, fieldName: 'zone'}"/>

	<f:render partial="Form/Language" arguments="{for: 'user', fieldName: 'language'}"/>

	<f:render partial="Form/Clear"/>

	<f:render partial="Form/Timezone" arguments="{for: 'user', fieldName: 'timezone'}"/>

	<f:render partial="Form/Checkbox" arguments="{user: user, fieldName: 'daylight'}"/>

	<f:render partial="Form/Clear"/>

	<f:render partial="Form/Upload" arguments="{user: user, fieldName: 'image'}"/>

	<f:render partial="Form/Clear"/>

	<f:render partial="Form/DateSelect" arguments="{user: user, fieldName: 'dateOfBirth'}"/>

	<f:render partial="Form/Clear"/>

	<f:render partial="Form/Checkbox" arguments="{user: user, fieldName: 'gtc'}"/>

	<f:render partial="Form/Checkbox" arguments="{user: user, fieldName: 'privacy'}"/>

	<f:render partial="Form/Clear"/>

	<f:render partial="Form/Captcha" arguments="{user: user, fieldName: 'captcha', options: {type: 'JmRecaptcha'}}"/>

	<f:render partial="Form/Clear"/>

	<f:render partial="Form/Submit"/>

</f:form>

<div class="mandatory">
	<f:format.raw><f:translate key="info_mandatory_fields" htmlEscape="true"/></f:format.raw>
</div>
</f:section>

</body>
</html>
