<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Create preview template of registration</title>
</head>
<body>
<f:form action="proxy" name="user" object="{user}">
<dl>
	<dt><f:translate key="username"/>*</dt>
	<dd><f:form.hidden property="username" />{user.username}</dd>

	<dt><f:translate key="password"/>*</dt>
	<dd><f:form.hidden property="password" />********</dd>

	<dt><f:translate key="passwordRepeat"/>*</dt>
	<dd><f:form.hidden property="passwordRepeat" />********</dd>
</dl>
<dl>
	<dt><f:translate key="title"/></dt>
	<dd><f:form.hidden property="title" />{user.title} <f:translate key="title_{user.title}"/></dd>

	<dt><f:translate key="company"/></dt>
	<dd><f:form.hidden property="company" />{user.company}</dd>

	<dt><f:translate key="lastName"/></dt>
	<dd><f:form.hidden property="lastName" />{user.lastName}</dd>

	<dt><f:translate key="firstName"/></dt>
	<dd><f:form.hidden property="firstName" />{user.firstName}</dd>

	<dt><f:translate key="email"/></dt>
	<dd><f:form.hidden property="email" />{user.email}</dd>

	<dt><f:translate key="emailRepeat"/></dt>
	<dd><f:form.hidden property="emailRepeat" />{user.emailRepeat}</dd>

	<dt><f:translate key="telephone"/></dt>
	<dd><f:form.hidden property="telephone" />{user.telephone}</dd>

	<dt><f:translate key="mobilephone"/></dt>
	<dd><f:form.hidden property="mobilephone" />{user.mobilephone}</dd>

	<dt><f:translate key="fax"/></dt>
	<dd><f:form.hidden property="fax" />{user.fax}</dd>

	<dt><f:translate key="address"/></dt>
	<dd><f:form.hidden property="address" />{user.address}</dd>

	<dt><f:translate key="zip"/></dt>
	<dd><f:form.hidden property="zip" />{user.zip}</dd>

	<dt><f:translate key="city"/></dt>
	<dd><f:form.hidden property="city" />{user.city}</dd>

	<dt><f:translate key="country"/></dt>
	<dd><f:form.hidden property="country" />{user.country}</dd>

	<dt><f:translate key="gtc"/></dt>
	<dd><f:form.hidden property="gtc" /><f:translate key="gtc_checked{user.gtc}"/></dd>

	<dt><f:translate key="image"/></dt>
	<dd><f:form.hidden property="image" />
		<f:if condition="{user.image}">
			<f:then>
				<f:form.hidden name="temporaryImage" value="{temporaryImage}" />
				<f:if condition="{temporaryImage}">
					<f:then>
						<f:image height="100" width="100c" src="typo3temp/sf_register/{user.image}" alt="{user.firstName} {user.lastName}" title="{user.firstName} {user.lastName}" />
					</f:then>
					<f:else>
						<f:image height="100" width="100c" src="uploads/pics/{user.image}" alt="{user.firstName} {user.lastName}" title="{user.firstName} {user.lastName}" />
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<f:translate key="image_none"/>
			</f:else>
		</f:if></dd>

	<dt><f:translate key="dateOfBirth" /></dt>
	<dd>
		<f:if condition="{user.dateOfBirthDay}">
			<f:then><f:form.hidden property="dateOfBirthDay"/></f:then>
			<f:else><f:form.hidden property="dateOfBirthDay" value="{f:format.date(date: '{user.dateOfBirth}', format: 'd')}"/></f:else>
		</f:if>
		<f:if condition="{user.dateOfBirthMonth}">
			<f:then><f:form.hidden property="dateOfBirthMonth"/></f:then>
			<f:else><f:form.hidden property="dateOfBirthMonth" value="{f:format.date(date: '{user.dateOfBirth}', format: 'm')}"/></f:else>
		</f:if>
		<f:if condition="{user.dateOfBirthYear}">
			<f:then><f:form.hidden property="dateOfBirthYear"/></f:then>
			<f:else><f:form.hidden property="dateOfBirthYear" value="{f:format.date(date: '{user.dateOfBirth}', format: 'Y')}"/></f:else>
		</f:if>
		{f:format.date(date: '{user.dateOfBirth}', format: '{settings.dateFormat}')}
	</dd>

	<dt><f:form.submit name="form" value="{f:translate(key:'submit_change')}" /></dt>
	<dd><f:form.submit name="save" value="{f:translate(key:'submit_save')}" /></dd>
</dl>
</f:form>
</body>
</html>