<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
		xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Create preview template of registration</title>
</head>
<body>

<f:layout name="Default" />

<f:section name="Main">
<f:form action="proxy" name="user" object="{user}">

	<f:for each="{settings.fields.selected}" as="selectedField">
		<f:alias map="{options: '{settings.fields.configuration.{selectedField}}'}">
			<f:render partial="Preview/{options.partial}" arguments="{user: user, fieldName: selectedField, options: options}"/>
		</f:alias>
	</f:for>
</f:form>
</f:section>

</body>
</html>
