# Configuration/Services.yaml
services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Evoweb\SfRegister\:
    resource: '../Classes/*'

  Evoweb\SfRegister\Services\Setup\CheckFactory:
    arguments:
      $configuration:
        checks:
            - Evoweb\SfRegister\Services\Setup\UserGroupCheck
            - Evoweb\SfRegister\Services\Setup\UsernameCheck
    public: true

  Evoweb\SfRegister\Command\CleanupCommand:
    tags:
      - name: 'console.command'
        command: 'sfregister:cleanup'
        description: 'Cleanup user that did not finish the double opt in, and remove orphan images'
        schedulable: false

  Evoweb\SfRegister\EventListener\FeuserControllerListener:
    tags:
      - name: event.listener

  Evoweb\SfRegister\Services\Captcha\SrFreecapAdapter:
    public: true

  Evoweb\SfRegister\Validation\Validator\BadWordValidator:
    public: true

  Evoweb\SfRegister\Validation\Validator\CaptchaValidator:
    public: true

  Evoweb\SfRegister\Validation\Validator\EqualCurrentPasswordValidator:
    public: true

  Evoweb\SfRegister\Validation\Validator\EqualCurrentUserValidator:
    public: true

  Evoweb\SfRegister\Validation\Validator\ImageUploadValidator:
    public: true

  Evoweb\SfRegister\Validation\Validator\UniqueExcludeCurrentValidator:
    public: true

  Evoweb\SfRegister\Validation\Validator\UniqueValidator:
    public: true

  Evoweb\SfRegister\ViewHelpers\Link\ActionViewHelper:
    public: true

  Evoweb\SfRegister\Property\TypeConverter\DateTimeConverter:
    tags:
      - name: extbase.type_converter
        priority: 2
        target: DateTime
        sources: string, integer, array

  Evoweb\SfRegister\Property\TypeConverter\FrontendUserConverter:
    tags:
      - name: extbase.type_converter
        priority: 31
        target: Evoweb\SfRegister\Domain\Model\FrontendUser
        sources: integer, string

  Evoweb\SfRegister\Property\TypeConverter\ObjectStorageConverter:
    tags:
      - name: extbase.type_converter
        priority: 21
        target: TYPO3\CMS\Extbase\Persistence\ObjectStorage
        sources: array

  Evoweb\SfRegister\Property\TypeConverter\UploadedFileReferenceConverter:
    tags:
      - name: extbase.type_converter
        priority: 31
        target: TYPO3\CMS\Extbase\Domain\Model\FileReference
        sources: array
