<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
<head>
	<title>Password form template of registration</title>
</head>
<body>
<f:form action="save" name="password">
	<f:render partial="FormErrors" section="Main" arguments="{for: 'password'}" />
	<dl>
		<dt>
			<f:translate key="oldPassword" />
			<f:render partial="Required" section="Main" arguments="{field: 'oldPassword'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'password.oldPassword'}" />
			<f:form.password property="oldPassword" />
		</dd>

		<dt>
			<f:translate key="newPassword1" />
			<f:render partial="Required" section="Main" arguments="{field: 'newPassword1'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'password.password'}" />
			<f:form.password property="password" value="" id="sfrPassword" />
			<div id="bargraph" class="is0"></div>
		</dd>

		<dt>
			<f:translate key="newPassword2" />
			<f:render partial="Required" section="Main" arguments="{field: 'newPassword2'}" />
		</dt>
		<dd>
			<f:render partial="FieldError" section="Main" arguments="{field: 'password.passwordRepeat'}" />
			<f:form.password property="passwordRepeat" value="" />
		</dd>

		<dt>&nbsp;</dt>
		<dd>
			<f:form.submit class="submit" value="{f:translate(key:'submit_update')}" />
		</dd>
	</dl>
</f:form>
</body>
</html>