<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<head>
	<title>Password form template of registration</title>
</head>
<body>

<f:layout name="Default" />

<f:section name="Main">
	<f:form action="save" name="password">
		<f:render partial="FormErrors" arguments="{for: password}" />

		<f:render partial="Form/Textfield" arguments="{user: password, fieldName: 'oldPassword'}"/>

		<f:render partial="Form/Clear"/>

		<f:render partial="Form/Password" arguments="{user: password, fieldName: 'password', options: {progress: 'show'}}"/>

		<f:render partial="Form/Password" arguments="{user: password, fieldName: 'passwordRepeat'}"/>

		<f:render partial="Form/Clear"/>

		<f:render partial="Form/Update"/>

	</f:form>
</f:section>

</body>
</html>
