password Action

<f:form action="save" name="password">
<dl>
	<dt><f:translate key="oldPassword"/></dt>
	<dd>
		<f:render partial="fieldError" arguments="{field: 'password.oldPassword'}" />
		<f:form.password property="oldPassword" /></dd>

	<dt><f:translate key="newPassword1"/></dt>
	<dd>
		<f:render partial="fieldError" arguments="{field: 'password.password'}" />
		<f:form.password property="password" /></dd>

	<dt><f:translate key="newPassword2"/></dt>
	<dd>
		<f:render partial="fieldError" arguments="{field: 'password.passwordAgain'}" />
		<f:form.password property="passwordAgain" value="" /></dd>

	<dt>&nbsp;</dt>
	<dd><f:form.submit class="submit" value="{f:translate(key:'submit.update')}" /></dd>
</dl>
</f:form>