<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:register="http://typo3.org/ns/Evoweb/SfRegister/ViewHelpers"
	data-namespace-typo3-fluid="true">

<div class="col-md-6 mb-3 {fieldName}">
	<label><f:translate id="{fieldName}" /></label>
	<register:form.selectStaticCountryZones
		property="{fieldName}"
		id="sfrZone"
		value="{user.{fieldName}}"
		disabled="disabled"
		parent="{user.staticInfoCountry}"
		class="form-control" />
	<f:form.hidden property="{fieldName}"/>
</div>

</html>
