<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:register="http://typo3.org/ns/Evoweb/SfRegister/ViewHelpers"
	data-namespace-typo3-fluid="true">

<div class="form-group {fieldName}">
	<label><f:translate id="{fieldName}" /></label>
	<f:form.hidden property="{fieldName}" />
	<register:form.selectStaticLanguage
		property="{fieldName}"
		id="{fieldName}"
		value="{user.{fieldName}}"
		disabled="disabled"
		allowedLanguages="{options.allowedLanguages}"
		optionLabelField="lgName{register:languageKey(type: 'languages')}"
		class="form-control"/>
</div>

</html>
