<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:register="http://typo3.org/ns/Evoweb/SfRegister/ViewHelpers"
	data-namespace-typo3-fluid="true">

<f:variable name="languageKey"><register:languageKey type="languages"/></f:variable>
<div class="col-md-6 mb-3 {fieldName}">
	<label><f:translate id="{fieldName}" /></label>
	<f:form.hidden property="{fieldName}" />

	<register:form.selectStaticLanguage
		property="{fieldName}"
		id="{fieldName}"
		value="{user.{fieldName}}"
		disabled="disabled"
		allowedLanguages="{options.allowedLanguages}"
		optionLabelField="lgName{languageKey}"
		class="form-control"/>
</div>

</html>
