<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:register="http://typo3.org/ns/Evoweb/SfRegister/ViewHelpers"
	data-namespace-typo3-fluid="true">

<div class="col-md-6 mb-3 {fieldName}">
	<label><f:translate id="{fieldName}" /></label>

	<register:form.upload property="{fieldName}.0" disabled="disabled" class="form-control-file" id="uploadButton">
		<f:if condition="{resource}">
			<f:image image="{resource}" alt="" width="50"/>
		</f:if>
	</register:form.upload>
</div>

</html>
