name: build

on:
  push:
    branches: [ develop, main ]
    tags: [ '*' ]
  pull_request:
    branches: [ develop ]

jobs:

  resources:
    name: Resources tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Lint SCSS
        run: Build/Scripts/additionalTests.sh -s lintScss

      - name: Lint Typescript
        run: Build/Scripts/additionalTests.sh -s lintTypescript

      - name: Run the xliff lint
        run: Build/Scripts/additionalTests.sh -s lintXliff

      - name: Test documentation build
        run: Build/Scripts/additionalTests.sh -s buildDocumentation

      - name: Cleanup
        run: |
          Build/Scripts/runTests.sh -s clean ; \
          Build/Scripts/additionalTests.sh -s clean ; \
          git checkout composer.json

  testsuite:
    name: All php tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [ '8.2' ]
        packages:
          - core: '^12.0'
            framework: 'dev-main'
            prefer: ''
          - core: '^12.0'
            framework: 'dev-main'
            prefer: '--prefer-lowest'
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Composer
        run: Build/Scripts/additionalTests.sh -p ${{ matrix.php }} -s lintPhp

      - name: Composer install
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -s composerInstall

      - name: Composer install core
        run: |
          Build/Scripts/additionalTests.sh -p ${{ matrix.php }} \
            -s composerInstallPackage \
            -q "typo3/cms-core:${{ matrix.packages.core }}"

      - name: Composer install framework
        run: |
          Build/Scripts/additionalTests.sh -p ${{ matrix.php }} \
            -s composerInstallPackage \
            -q "typo3/testing-framework:${{ matrix.packages.framework }}" \
            -o " --dev ${{ matrix.packages.prefer }}"

      - name: Composer validate
        run: Build/Scripts/runTests.sh -s composerValidate

      - name: Functional tests with sqlite
        run: Build/Scripts/runTests.sh -p ${{ matrix.php }} -d sqlite -s functional Tests/Functional

      - name: Cleanup
        run: |
          Build/Scripts/runTests.sh -s clean
          Build/Scripts/additionalTests.sh -s clean

  TERUpload:
    needs: [ resources, testsuite ]
    if: startsWith(github.ref, 'refs/tags/')

    runs-on: ubuntu-22.04

    name: TYPO3 TER release
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Publish to TER
        uses: tomasnorre/typo3-upload-ter@v2
        with:
          api-token: ${{ secrets.TYPO3_API_TOKEN }}
